h1,h2,h3,h4 {
  margin-top:0.2em;
  margin-bottom:1em;
  color:#369;
} 
h1 {
  font-size:1.4em;
}
h2 {
  font-size:1.3em;
}
h3 {
  font-size:1.2em;
}
h4 {
  font-size:1.05em;
}
strong {
  font-weight:bold;
}
em {
  font-style:italic;
}
img {
  border-style:none;
}
dt {
  font-weight:bold;
}
dd {
  margin-bottom:0.8em;
}
li {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre {
  font-size:1em;
  background-color:#eee;
  font-family:"Courier New",Courier,monospace;
}
textarea, input {
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:1em;
}
acronym {
  cursor: help;
}
/* classes */

.title_h1, .title_h2, .title_h3 {
  margin-top:0.3em;
  margin-bottom:0.3em;
  font-weight:bold;
  text-align:center;
}
.title_h1 {
  font-size:1.37em; /* vorher: 1.6em*/
}
.title_h2 {
  font-size:1.17em; /* vorher: 1.4em*/
}
.title_h3 {
  font-size:0.97em; /* vorher: 1.2em*/
}
.nowrap {
  white-space:nowrap;
}
.right {
  text-align:right;
}
.center {
  text-align:center;
}
.blocksatz {
  text-align: justify;
}
.attention {
  border-left:0.15em solid #900;
  padding-left: 0.4em;
}
.warning   {
  border-top:0.1em solid #900;
  border-left:0.1em solid #900;
  border-right:0.1em solid #900;
  border-bottom:0.1em solid #900;
  padding:0.5em;
  font-weight:bold;
}
.important {
  color:#900;
}
.grau {
  background-color:#E6E6E6;
}
/* boxes */
.box_hfg {
  padding: 0.5em;
  margin-bottom:1.5em;
  margin-right:7em;
  background: #E6E6E6;
  border:0.15em solid #7fbbd4;
  color:#003;
}
.box_important {
  border:1px solid #7fbbd4;
  padding:4px;
  margin-bottom:1.5em;
  line-height:1.8em;
  background-color:#E6E6E6;
  /*white-space: nowrap; */
  /*-moz-border-radius:5px;*/
}
.box_WF {
  border:1px solid #7fbbd4;
  padding:1px 6px 1px 6px;
  margin-bottom:1.5em;
  margin-right:1.5em;
  background-color:#E6E6E6;
  font-weight:bold;
  font-family:monospace;
  font-size:1.3em;
  width:10px;
}
.box_WF_red {
  border:1px solid #7fbbd4;
  padding:1px 6px 1px 6px;
  margin-bottom:1.5em;
  margin-right:1.5em;
  background-color:#E6E6E6;
  font-weight:bold;
  font-family:monospace;
  font-size:1.3em;
  color:#900;
  width:10px;
}
.image_border {
  padding-left:0.2em;
  border:0.2em solid #7fbbd4;
}
.vortrag_titel, .vortrag_autor {
  margin-top:0.2em;
  margin-bottom:1em;
  text-align:center;
  font-size:1.3em;
  font-weight:bold;
  color:#369;
}
.vortrag_autor {
  font-size:1.2em;
}
.blau_bold {
  font-weight:bold;
  color:#369;
}
.div_right {
  float:right;
}

/*#content #table_no_border td, #content #table_no_border tr {
  border:0;
}*/

.code {  
  background-color:#ccc;
  padding:0;
  margin:0;
  font-family: Courier, monospace; 
}
/* für die aufklappbare Boxen in /forschung/index.html */
.dbox {
  min-width:400px;
  max-width:700px;
  border:1px solid #00AFFF;
  padding:15px;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  text-align: justify;
  font-weight:normal;
  color: #0050A0;
  background-color:#F9FCFF;
  line-height:120%;
  white-space:normal;
  margin: 5px 5px 20px 5px;
}
